.open-wrap{
    width: 100%;
}
.borderALl{
    border: 1px solid gray;
    height: 150px;
    padding-left: 10px;
    font-size: 16px;
}
*{
    font-size: 16px;
}
.flexTitle{
    display: flex;
    align-items: center;
    line-height: 30px;
}