.list-wrap{
    width: 100%;
}

.list-body{
    margin: 20px    ;
}
.mian{
    /* margin: 10px 20px 0px 40px; */
    margin: 20px;
    width: 100%;
    overflow: hidden;
}
.addMember{
    display: flex;
    justify-self: start;
    align-items: center;
}
.addMember button{
    padding: 9px 15px;
    font-size: 14px;
    border-radius: 3px;
    color: #fff;
    background-color: #be954a;
    border-color: #be954a;
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    transition: .1s;
    border: none;
}
.add-member button span{
    font-size: 14px;
}
.data-list{
    width: 100%;
}
.layui-form{
    width: 100% !important;
    height: auto;
}
.layui-table-header{
    border: none;
    border-bottom: solid 1px #e6e6e6;
    background: #fff;
}
.layui-table-cell span{
    font-size: 14px;
    color: #909399;
}
.layui-table-cell{
    white-space: normal;
    word-break: break-all;
}
/* 添加编辑成员部分 */
.MemberOperation{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 99;
    color: #606266;
    line-height: 24px;
    font-size: 14px;
    display: none;
}
.MemberContent,.addBox{
    width: 800px;
    position: relative;
    margin: 2vh auto 50px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
    box-sizing: border-box;
    transition: all 0.3s;
}
.OperationHeader{
    padding: 20px 20px 10px;
    text-align: center;
}
.OperationHeader>span{
    line-height: 24px;
    font-size: 18px;
    color: #303133;
}
.OperationHeader>button{
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;
    background: 0 0;
    border: none;
    outline: 0;
    cursor: pointer;
    font-size: 16px;
}
.OperationHeader>button :hover{
    color: #be954a;
}
.OperationHeader>button i{
    color: #909399;
}
.listInput{
    margin-bottom: 22px;
    display: flex;
    justify-content: safe;
    align-items: center;
}
.listInput label{
    width: 90px;
    text-align: right;
    font-size: 14px;
    color: #606266;
    line-height: 40px;
    padding: 0 12px 0 0;
    box-sizing: border-box;
}
.inputWidth{
    line-height: 40px;
    font-size: 14px;
    width: 70%;
}
.inputWidth input{
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: 0;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 100%;
}
.inputWidth input:hover{
    border-color: #be954a;
}
.layui-form-onswitch{
    border-color: #be954a;
    background-color: #be954a;
}
.cancel-btn,.addCancelBtn{
    color: #606266;
    background: #fff !important;
    border: 1px solid #dcdfe6 !important;
}
.cancel-btn:hover,.addCancelBtn:hover{
    border-color: #be954a !important ;
    color: #be954a !important;
}
.layui-btn-container{
    position: relative;
}
.block{
    display: block !important;
    transition: all 1s;
}
.addBody{
    text-align: initial;
    padding: 25px 25px 30px;
}
.listInput{
    margin-bottom: 22px;
    display: flex;
    justify-content: safe;
    align-content: center;
}
 .listInput input{
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: 0;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 100%;
}
 .listInput label{
    width: 120px;
    font-size: 14px;
    color: #606266;
    line-height: 40px;
    padding: 0 12px 0 0;
    box-sizing: border-box;
}
input:hover{
    border-color: #be954a !important ;
    transition: all 0.3s;
}
.sidebar{
    max-height: 750px;
}
/* .accountContnet{
    width: 100%;
    overflow-x: auto;
} */
.listInput .layui-tree-setHide>div:nth-child(1) span{
    color: rgb(85, 85, 85);
}
.layui-table-body{
    max-height:580px;
}
.uploadBtn,.customBtn{
    position: relative;
    margin-left: 105px;
}
.uploadBtn input,.customBtn input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.addImg,.editImg,.customImg{
    display: none;
    width: 30%;
    margin-left: 105px;
    background-color: #fff;
    border: 1px solid #c0ccda;
    border-radius: 6px;
    box-sizing: border-box;
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    font-size: 14px;
    color: #606266;
}
.addImg img,.editImg img,.customImg img{
    display: block;
    margin: 0 auto ;
    width: 100%;
    z-index: 1;
    margin: 0;
}
.salseList .salseCont{
    margin-left: 15px;
}
.salseList .salseCont>div{
    width: 28%;
}
.salseList{
    display: none;
}
.loadMore{
    text-align: center;
    margin: -5px 0 10px;
    cursor: pointer;
}