body {
    max-width: 100% !important;
    min-width: 100% !important
}

.bg {
    width: 100%;
    height: 100vh;
    margin: 0;
    display: block;
    z-index: -10;
    .swiper-container {
        top: 50%;
        transform: translateY(-50%);
        img {
            min-height: 330px;
        }
    }
}
.wrap{
    right: 5%;
    top: 50%;
    margin-top: -230px;
    width: 480px;
    height: 460px;
    position: fixed;
    // background: #fff url(../../image/loginBg.png) no-repeat;
    z-index: 10;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    align-items: center;
    .tabBox{
        box-sizing: border-box;
        padding: 0 40px;
        height: 200px;
        display: flex;
        align-items: center;
        .word{
            font-size: 24px;
            color: #be954a;
        }
        .line{
            color: #be954a;
            width: 20px;
            height: 100%;
            border-right: 4px solid #be954a;
        }
    }
    .login-container {
        width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .wrap-left{
            display: flex;
            font-weight: 700;
            font-size: 26px;
            margin-bottom: 40px;
            color: #be954a;
            align-items: center;
            img{
                width: 50px;
                height: 50px;
                margin-right: 20px;
            }
        }
        .login-inp {
            display: flex;
            margin: 0 0 10px 0;
            border-bottom: 1px solid #aab4b9;
            align-items: center;
            width: 80%;
        }
        .login-inp img {
            height: 20px;
            width: 20px;
        }
        .login-inp input {
            height: 48px;
            width: 80%;
            padding-left: 5%;
            font-size: 12px;
        }
        .login-blur {
            display: flex;
            margin: 0;
            justify-content: space-between;
            color: #B18E5D;
            font-size: 12px;
            margin-bottom: 20px;
        }
        .login-inp2 {
            width: 300px;
            background: #B18E5D;
            font-size: 16px;
            color: #fff;
            padding: 5px 0;
            border-radius: 20px;
            border: none;
            margin-top: 20px;
            outline: none;
            text-align: center;
            cursor: pointer;
        }
        .login-tip{
            color: red;
            font-size: 14px;
            margin-top: 20px;
            margin-right: 30px;
        }
    } 
}


.icon-radio {
    display: inline-block;
    text-align: left;
    display: flex;
    align-items: center;
    color: #B18E5D;
    font-size: 14px;
}

.icon-radio .r1 {
    display: none;
}

.icon-radio label {
    position: relative;
    display: block;
    font-size: 14px;
    padding-left: 24px;
}

.icon-radio label:before {
    position: absolute;
    top: 3px;
    left: 0;
    content: '';
    width: 16px;
    height: 16px;
    border: 1px solid #BE954A;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.icon-radio .r1+label:after {
    position: absolute;
    top: 7px;
    left: 4px;
    content: '';
    width: 0;
    height: 0;
    border: 4px solid #BE954A;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    opacity: 0;
    -moz-opacity: 0;
    -webkit-opacity: 0;
}

.icon-radio .r1:checked+label:after {
    opacity: 1;
    -moz-opacity: 1;
    -webkit-opacity: 1;
}
input{
    outline: none!important;
    box-shadow: none!important;
    border: 0;
}
.wrap input:hover{
    border: 0 !important;
}