* {
	margin: 0;
	padding: 0;
	list-style: none;
    text-decoration: none;
    font-size: 14px;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
}

input {
	border: none;
	outline: none;
}

body {
	margin: 0   ;
	padding: 0;
}
.btn{
	display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #dcdfe6;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    transition: .1s;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px !important;
    color: #fff;
    background-color: #409eff !important;
    border-color: #409eff !important;
    display: flex;
    align-items: center;
}
input{
    font-size: 14px;
    color: #606266;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
}
.key-contnet{
    line-height: normal;
    display: inline-table;
    width: 100%;
    border-collapse: separate;
}
.key-text{
    background-color: #f5f7fa;
    color: #909399;
    vertical-align: middle;   
    position: relative;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    padding: 0 20px;
    width: 1px;
    white-space: nowrap;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    font-size: 14px;
    display: table-cell;
}
.key-contnet input{
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 38px;
    line-height: 38px;
    outline: 0;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 100%;
    font-size: 14px;
}
.btn i{
	color: #fff;
	font-size: 14px;
	text-align: center;
}
.layui-form-select dl dd.layui-this{
    background-color: #409eff !important;
}
.layui-form{
	display: inline-block;
}
.data-list-table .layui-form{
	width: 100%;
}
.warp-margin{
    margin: 20px;
}
.del-btn{
    background-color: #f56c6c !important;
    border-color: #f56c6c !important;
}
.layui-table-body{
    max-height: 620px;
    min-height: 300px;
}
.layui-table-box .layui-table-body .layui-table td{
    border-left: none ;
    border-right: none ;
}
.margin{
    margin:20px;
}
.layui-table-box .layui-table thead tr{
    background-color: #ffffff;
}
.layui-table-box .layui-table th{
    border-left: none ;
    border-right: none ;
}
.layui-table-view{
    border-left: none !important;
    border-right: none  !important;
    border-top: none !important;
}
h1{
    font-size: 20px;
    font-weight: 800; 
}
.flexTwo{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px 0;
}      
.layui-laypage .layui-laypage-curr .layui-laypage-em{
    background-color:#409eff !important;
}
.layui-table-cell{
    height: auto !important;
    line-height: auto !important;
}
.layui-table .layui-btn-container .layui-btn{
    margin-top: 9px;
}
.layui-form-radio>i:hover, .layui-form-radioed>i{
    color:#409eff !important ;
}
td{
    padding: 10px 0 !important;
}
body .layui-form-checked[lay-skin=primary] i{
    border-color: #409eff !important;
    background-color: #409eff !important;
}
/* input{
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: 0;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 100%;
} */
.layui-table-fixed{
    z-index: 22 !important;
}
.layui-laydate .layui-this{
    background-color: #409eff !important;
}
.maskContnet{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 99;
    background: rgba(0, 0, 0, 0.3);
    display: none;
    overflow-y: auto;
}