.custom-warp{
    width: 100%;
}
.warp-margin{
    width: 100%;
    overflow: hidden;
}
.header-query{
    width: 100%;
    display: flex;
}
.query-btn{
    margin-left: 15px;
}
.custom-data-list{
    width: 100%;
    max-height: 700px;
    margin-top: 10px;
    overflow: hidden;
}
/*.layui-table thead tr{*/
/*    background-color: #ffffff;*/
/*}*/
/*.layui-table thead tr th{*/
/*    border: none;*/
/*}*/
/*.layui-form{*/
/*    border-left: none;*/
/*    border-right: none;*/
/*    width: 100%;*/
/*    !* overflow-x:auto ; *!*/
/*}*/
.layui-table-body{
    overflow-x: auto;
}
.editor-btn,.del-btn {
    line-height: 28px;
    height: auto;
    border-radius: 2px !important;
    margin-bottom: 5px;
    margin: 10px 0;
}
.editor-btn span,.del-btn span{
    font-size: 12px;
    line-height: 30px;
}
.layui-table-cell{
    height: auto;
}
.layui-laypage .layui-laypage-curr .layui-laypage-em{
    background-color: #be954a;
}
.addClass,.editClass{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 22;
    background: rgba(0, 0, 0, 0.3);
    display: none;
    /* overflow-y: auto; */
}
.addContent,.editContent{
    width: 700px;
    position: relative;
    margin: 15vh auto 50px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
    box-sizing: border-box;
    transition: all 0.3s;
}
.content-header{
    padding: 20px 20px 10px;
}
.content-header span{
    line-height: 24px;
    font-size: 16px;
    color: #303133;
}
.addList{
    padding: 30px 20px;
    color: #606266;
    line-height: 24px;
    font-size: 14px;
}
.addList label{
    width: 100px;
    float: left;
    font-size: 14px;
    color: #606266;
    line-height: 40px;
    padding: 0 12px 0 0;
    box-sizing: border-box;
}
.addList input{
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: none;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 100%;
}
.cancel-btn,.editCancel-btn{
    display: inline-block !important;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff !important;
    border: 1px solid #dcdfe6 !important;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: .1s;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
}
.cancel-btn:hover{
    border-color: #be954a !important ;
    color: #be954a !important;
}
.editCancel-btn:hover{
    border-color: #be954a !important ;
    color: #be954a !important;
}
.sidebar{
    max-height: 770px;
}
