.list-wrap{
    width: 100%;
}
.mian{
    margin: 10px 0px 0px 40px;
    width: 100%;
    overflow: hidden;
}
.add-member{
    display: flex;
}
.add-member button{
    padding: 9px 15px;
    font-size: 14px;
    border-radius: 3px;
    color: #fff;
    background-color: #be954a;
    border-color: #be954a;
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    transition: .1s;
    border: none;
}
.add-member button span{
    font-size: 14px;
}
.data-list{
    width: 100%;
}
.layui-form{
    width: 100% !important;
    height: auto;
}
.layui-table-header{
    border: none;
    border-bottom: solid 1px #e6e6e6;
    background: #fff;
}
.layui-table-cell span{
    font-size: 14px;
    color: #909399;
}
.layui-table-cell{
    white-space: normal;
    word-break: break-all;
}
/* 添加编辑成员部分 */
.MemberOperation{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 99;
    color: #606266;
    line-height: 24px;
    font-size: 14px;
    display: none;
}
.MemberContent{
    width: 1100px;
    position: relative;
    margin: 2vh auto 50px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
    box-sizing: border-box;
    transition: all 0.3s;
}
.RoleListBox{
    width: 600px;
    position: relative;
    margin: 10vh auto 50px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
    box-sizing: border-box;
    transition: all 0.3s;
}
.RoleListBody>div{
    width: 92%;
    margin: 0 auto;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px 0 30px 0  ;
}
.RoleListBody p{
    width: 50%;
    text-align: center;
    font-size: 16px;
    color: #be954a;
    font-weight: bold;
}
.OperationHeader{
    padding: 20px 20px 10px;
    text-align: center;
}
.OperationHeader>span{
    line-height: 24px;
    font-size: 18px;
    color: #303133;
}
.OperationHeader>button{
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;
    background: 0 0;
    border: none;
    outline: 0;
    cursor: pointer;
    font-size: 16px;
}
.OperationHeader>button :hover{
    color: #be954a;
}
.OperationHeader>button i{
    color: #909399;
}
.listInput{
    margin-bottom: 22px;
    display: flex;
    justify-content: safe;
    align-content: center;
}
.listInput label{
    width: 130px;
    text-align: right;
    font-size: 14px;
    color: #606266;
    line-height: 40px;
    padding: 0 12px 0 0;
    box-sizing: border-box;
}
.inputWidth{
    line-height: 40px;
    font-size: 14px;
    width: 70%;
}
.inputWidth input{
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: 0;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 100%;
}
.inputWidth input:hover{
    border-color: #be954a;
}
.switchList{
    width: 100%;
    border-bottom: 1px solid rgb(204, 204, 204);
    display: flex;
    justify-content: start;
    align-items: center;
}
.switchTitle{   
    display: inline-block;
    margin-top: 5px;
    text-align: left; 
    font-size: 14px;
    color: #606266;
    line-height: 40px;
    padding: 0 12px 0 0;
    box-sizing: border-box;
    width: 10%;
}
.switchContent{
    display: inline-block;
    line-height: 30px;
    height: 30px;
    margin-left: 5px;
    margin-bottom: 10px;
}
.layui-form-onswitch{
    border-color: #be954a;
    background-color: #be954a;
}
.terminal{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-bottom: 10px;
}
.cancel-btn{
    color: #606266;
    background: #fff !important;
    border: 1px solid #dcdfe6 !important;
}
.cancel-btn:hover{
    border-color: #be954a !important ;
    color: #be954a !important;
}
.layui-btn-container{
    position: relative;
}
.block{
    display: block !important;
    transition: all 1s;
}
.checkCont{
    width: 85%;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}
.checkCont>div{
    width: 25%;
}
.left-mian{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 240px;
    flex: 0 0 240px;
    width: 240px;
    position: relative;
    padding-right: 40px;
}
.accountContnet{
    margin: 10px;
    /* height: 720px; */
}
.input-account{
    font-size: 14px;
    display: inline-block;
    width: 100%;
}
.input-account input{
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: 0;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 100%;
}
.fixedAccount{
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: default;
    background: #fff;
    color: #606266;
    text-align: center;
    margin-bottom: 22px;
    cursor: pointer;
}
.fixedAccount span{
    font-size: 14px;
    color: #606266;
    
}
.accountContnet .active{
    color: #be954a;
    border-color:#be954a ;
}
.accountContnet .active span{
    color: #be954a;
}
.sidebar{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 730px;
    box-sizing: border-box;
    border-right: 12px solid #eee;
    background-color: #fff;
    text-align: center;
    color: #d3dce6;
    z-index: 50;
}
.sidebar i{
    cursor: pointer;
    position: absolute;
    color: #999;
    text-align: center;
    top: 387px;
    right: -6px;
    display: block;
    width: 32px;
    line-height: 76px;
    font-size: 24px;
    height: 76px;
    background-color: #eee;
    border-radius: 10px 0 0 10px;
    -webkit-transition: right 1s;
}
.onLeft{
    color: #999;
    text-align: center;
    position: absolute;
    top: 387px;
    left: -6px;
    display: block;
    width: 32px;
    height: 76px;
    background-color: #eee;
    border-radius: 0 10px 10px 0;
    -webkit-transition: left 1s;
    cursor: pointer;
    line-height: 76px;
    font-size: 24px;
    display: none;
}
.terminal input[name="marchantsListname"]{
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: 0;
    padding: 0 15px;
    transition: bord;
    width: 100%;
}
.terminal .layui-tree-setHide>div:nth-child(1) span{
    color: rgb(85, 85, 85);
}
.hides{
    display: none;
}