
@charset "UTF-8";
$color: #be954a;

/*css 初始化 */

html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img,
input {
    margin: 0;
    padding: 0;
}
body{
    background-color: #ffffff;
}
input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px white inset !important;
}

select:-webkit-autofill {
    box-shadow: 0 0 0px 1000px white inset !important;
}

textarea:-webkit-autofill {
    box-shadow: 0 0 0px 1000px white inset !important;
}

body {
    font-family: Microsoft YaHei;
}

input {
    border: 0;
    outline: none;
}

div,
input,
textarea,
button {
    outline: none !important;
    box-shadow: none !important;
}

a {
    text-decoration: none;
}
.flex{
    display: flex;
    justify-content: start;
    align-items: center;
}
.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.backgroundBlack{
    background:rgba(0,0,0,0.4) ;

}
.Wrap{
    width: 100%;
    overflow: hidden;
    position: relative;
    font-size: 0.28rem;
}
// .mask{
//     position: fixed;
//     z-index: 23;
//     width: 100%;
//     left: 0px;
//     top: 0px;
//     height: 100%;
//     background: rgba(0,0,0,0.3);
//     display: none;
//     transition: all 0.3s;
// }
.top30{
    top: 30% !important;
}