@import '../../common/common.scss';
.addMBox{
    width: 500px;
    .addMBody{
        padding: 20px;
        box-sizing: border-box;
    }
}
.data-list{
    .layui-none{
        width: 60%;
    }
}
.topUPBox{
    width: 500px;
    .topUpBody{
        padding: 20px;
        box-sizing: border-box;
    }
}
.reductionsBox{
    width: 500px;
    .reductionsBody{
        padding: 20px;
        box-sizing: border-box;
    }
}
.editBox{
    width: 500px;  
    .editBody{
        padding: 20px;
        box-sizing: border-box;
    }
}
.TopUpRecordContent{
    .topUpRecordBox{
        width: 700px;
        margin: 3vh auto 0 ;
        .topUpRecordBody{
            padding: 10px;
            box-sizing: border-box;
        }
    }
}
.useRecordContent{
    .useRecordBox{
        width: 550px;
        margin: 3vh auto 0 ;
        .useRecordBody{
            padding: 10px;
            box-sizing: border-box;
        }
    }
}
