@import '../../common/common.scss';
.addMBox{
    width: 500px;
    .addMBody{
        padding: 20px;
        box-sizing: border-box;
    }
}
.data_list1{
    .layui-none{
        width: 80%;
    }
}
.topUPBox{
    width: 500px;
    .topUpBody{
        padding: 20px;
        box-sizing: border-box;
    }
}
.reductionsBox{
    width: 500px;
    .reductionsBody{
        padding: 20px;
        box-sizing: border-box;
    }
}
.editBox{
    width: 500px;  
    .editBody{
        padding: 20px;
        box-sizing: border-box;
    }
}
.TopUpRecordContent{
    .topUpRecordBox{
        width: 870px;
        margin: 3vh auto 0 ;
        .topUpRecordBody{
            padding: 10px;
            box-sizing: border-box;
        }
    }
}
.useRecordContent{
    .useRecordBox{
        width: 450px;
        margin: 3vh auto 0 ;
        .useRecordBody{
            padding: 10px;
            box-sizing: border-box;
        }
        .layui-table-body{
            td{
                cursor: pointer;
            }
        }
    }
}
.layui-form-switch{
    margin-top: 0;
}
.dayRecordContent{
    .dayRecordBox{
        width: 450px;
        margin: 2vh auto 0 ;
        .dayRecordBody{
            padding: 10px;
            box-sizing: border-box;
        }
    }
    .layui-table-body{
        td{
            cursor: pointer;
        }
    }
}
.dayOrderContent{
    .dayOrderBox{
        width: 1000px;
        margin: 2vh auto 0 ;
        .dayOrderBody{
            padding: 10px;
            box-sizing: border-box;
        }
    }
}
.pushOrderBox{
    width: 500px;
    p{
        color: red;
        text-align: center;
        padding: 3px 0;
    }
    .pushOrderBody{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        box-sizing: border-box;
        text-align: center;
        font-size: 14px;

        .tip {
            margin-left: 20px;
            a{
                text-decoration: underline;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    margin-right: 4px;
                }
            }
        }

        .pushuBtnCon{
            label{
                display: inline-block;
                height: 32px;
                line-height: 32px;
                font-size: 12px;
                padding: 0 10px;
                background-color: #be954a;
                color: #fff;
                white-space: nowrap;
                text-align: center;
                border: none;
                border-radius: 2px;
                cursor: pointer;
            }
            input{
                display: none;
            }
        }
    }

    img{
        width: 15px;
    }
}
