@import '../../../common/common.scss';
.box{
    color: red;
}
.wrap{
    min-height: 100vh;
}
.goodsClassCont{
    width: 100%;
    overflow: hidden;
    .KeyInput{
        background-color:#f0eff5 ;
        padding: 0.25rem 4%;
        margin: 0;
        input{
            width: 100%;
        }
    }
    .btnCont{
        background-color:#f0eff5 ;
        justify-content: center;
        padding-bottom: 0.3rem;
        button{
            margin: 0 0.15rem;
        }
    }
    .classList{
        margin: 0.35rem auto 0;
        .list{
            width: 94%;
            margin: 0 auto 0.3rem;
            border-radius: 0.1rem;
            box-shadow: 2px 1px 6px 1px rgba(0, 0, 0, 0.3) !important;
            // padding: 0.15rem 0;
        }
        .rank{
            flex-shrink: 0;
            width: 20%;
            img{
                width: 100%;
            }
        }
        .classInformation{
            width: 100%;
            box-sizing: border-box;
            padding-left: 0.15rem;
            .flex{
                margin: 0.15rem 0;
            }
            p{
                font-size: 0.32rem;         
                font-family: PingFang SC;
                font-weight: 700;
                color: #333333;
                width: 20%;
                flex-shrink: 0;
            }
            span{
                font-size: 0.26rem;         
                font-family: PingFang SC;
                font-weight: 500;
                color: #333333;
            }
        }
    }
}
.addFooter,.editFooter{
    padding-bottom: 0.25rem;
}