.list-wrap{
    width: 100%;
}

.list-body{
    margin: 20px    ;
}
.mian{
    /* margin: 10px 20px 0px 40px; */
    /* margin: 20px; */
}
.add-member button{
    padding: 9px 15px;
    font-size: 12px;
    border-radius: 3px;
    color: #fff;
    background-color: #be954a;
    border-color: #be954a;
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: .1s;
    border: none;
}
.add-member button span{
    font-size: 12px;
}
.data-list{
    width: 100%;
}
.layui-form{
    width: 100% !important;
    height: auto;
}
.layui-table-header{
    border: none;
    border-bottom: solid 1px #e6e6e6;
    background: #fff;
}
.layui-table-cell span{
    font-size: 14px;
    color: #909399;
}
.layui-table-cell{
    white-space: normal;
    word-break: break-all;
}
/* 添加编辑成员部分 */
.MemberOperation{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 99;
    color: #606266;
    line-height: 24px;
    font-size: 14px;
    display: none;
}
.MemberContent,.editBox{
    width: 800px;
    position: relative;
    margin: 2vh auto 50px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
    box-sizing: border-box;
    transition: all 0.3s;
}
.OperationHeader{
    padding: 20px 20px 10px;
    text-align: center;
}
.OperationHeader>span{
    line-height: 24px;
    font-size: 18px;
    color: #303133;
}
.OperationHeader>button{
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;
    background: 0 0;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}
.OperationHeader>button :hover{
    color: #be954a;
}
.OperationHeader>button i{
    color: #909399;
}
.listInput{
    margin-bottom: 22px;
    display: flex;
    justify-content: safe;
    align-content: center;
}
.listInput label{
    width: 90px;
    /* text-align: right; */
    font-size: 14px;
    color: #606266;
    line-height: 40px;
    padding: 0 12px 0 0;
    box-sizing: border-box;
}
.inputWidth{
    line-height: 40px;
    font-size: 14px;
    width: 100%;
}
.inputWidth input{
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: none;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 100%;
}
.inputWidth input:hover{
    border-color: #be954a;
}
.switchList{
    width: 100%;
    border-bottom: 1px solid rgb(204, 204, 204);
    display: flex;
    justify-content: start;
    align-items: center;
}
.switchTitle{
    display: inline-block;
    margin-top: 5px;
    text-align: left;
    font-size: 14px;
    color: #606266;
    line-height: 40px;
    padding: 0 12px 0 0;
    box-sizing: border-box;
}
.switchContent{
    display: inline-block;
    line-height: 30px;
    height: 30px;
    margin-left: 5px;
    margin-bottom: 10px;
}
.layui-form-onswitch{
    border-color: #be954a;
    background-color: #be954a;
}
.terminal{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-bottom: 10px;
}
.cancel-btn{
    color: #606266;
    background: #fff !important;
    border: 1px solid #dcdfe6 !important;
}
.cancel-btn:hover{
    border-color: #be954a !important ;
    color: #be954a !important;
}
.layui-btn-container{
    position: relative;
}
.permissionsList{
    padding-top: 10px;
    border-bottom: 1px solid rgb(204, 204, 204);
    padding-bottom: 15px;
    box-sizing: border-box;
}

.permissionsCont{
    display: flex;
    justify-self: start;
}
.permissionsTitle{
    width: 10%;
}
.permissionsTitle label{
    font-weight: bold;
    color: #606266;
}
.permissionsLeft{
    width: 90%;
}
.permissionsASF,
.permissionsGClass,
.permissionsGeneral,
.permissionsGoods,
.permissionsMachine,
.permissionsASR,
.permissionsGAF,
.permissionsOrder,
.permissionsMarketing{
    width: 100%;
    /* background-color: skyblue; */
    /* height: 100px; */
    display: flex;
    justify-self: start;
    flex-wrap: wrap;
}
.permissionsASF>div,
.permissionsGeneral>div,
.permissionsGClass>div,
.permissionsGoods>div,
.permissionsMachine>div,
.permissionsASR>div,
.permissionsGAF>div,
.permissionsOrder>div,
.permissionsMarketing>div{
    width: 33%;
    margin-bottom: 10px;
    overflow: hidden;
}
.permissionsLeft p:first-child{
    margin-top: 0;
}
.permissionsLeft p{
    margin: 20px 0 10px 0;
    font-weight: bold;
    color: #606266;
}
