.accounts-wrap{
    width: 100%;
}
.center-statistical{
    width: 60%;
}
.padding{
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}
.padding h1{
    font-size: 20px;
    font-weight: 800;
    margin: 20px 0;
}