
@charset "UTF-8";
$color: #be954a;
$color-yes: #67c23a;
$color-no:rgb(253, 105, 103);
$color-g: #ff9800;
.colorYes{
    color: $color-yes;
}
.colorNo{
    color: $color-no;
}
.colorG{
    color: $color-g;
}
.green{
    color: #09d654 !important;
    background: #e4ffee !important;
    border: 1px solid #09d654;
}
.yellow{
    color: #f2d304 !important;
    background: #fefbe9 !important;
    border: 1px solid #f2d304;
}
.red{
    color: #fd6967 !important;
    background: #fee !important;
    border: 1px solid #fd6967;
}
.blue{
    color: #4c8de2 !important;
    background: #bacee9 !important;
    border: 1px solid #4c8de2;
}
/*css 初始化 */

html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img,
input {
    margin: 0;
    padding: 0;
}
body{
    background-color: #ffffff;
}
input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px white inset !important;
}

select:-webkit-autofill {
    box-shadow: 0 0 0px 1000px white inset !important;
}

textarea:-webkit-autofill {
    box-shadow: 0 0 0px 1000px white inset !important;
}

body {
    font: 0.24rem Helvetica Neue, Helvetica, PingFang SC, Tahoma, Arial, sans-serif;
}

input {
    border: 0;
    outline: none;
}

div,
input,
textarea,
button {
    outline: none !important;
    box-shadow: none !important;
}

a {
    text-decoration: none;
}
.flex{
    display: flex;
    justify-content: start;
    align-items: center;
}
.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexThree{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inputList{
    width: 92%;
    margin: 0 auto;
    padding-bottom: 0.2rem;
    margin-bottom: 0.2rem;
    line-height: 0.8rem;
    input{
        width: 78%;
        background-color: #fff;
        background-image: none;
        border-radius: 4px;
        border: 1px solid #dcdfe6;
        box-sizing: border-box;
        color: #606266;
        display: inline-block;
        font-size: inherit;
        height: 0.8rem;
        line-height: 0.8rem;
        outline: 0;
        padding: 0 15px;
        transition: border-color 0.2s;
        font-family:PingFang SC;
    }
    label{
        display: inline-block;
        width: 1.5rem;
        color: #606266;
        font-size: 0.22rem;
        font-family:PingFang SC;
        span{
            color: red;
        }
    }
}
.backgroundBlack{
    background:rgba(0,0,0,0.4) ;

}
.Wrap{
    width: 100%;
    overflow: hidden;
    position: relative;
    font-size: 0.28rem;
}

.header{
    position: relative;
    box-sizing: border-box;
    padding: 0.25rem;
     .close{
        position: absolute;
        right: 0.1rem;
        top: 0.25rem;
        font-size: 0.24rem;
        border: none;
        outline: none;
        background: none;
        // padding: 0;
        padding: 0.1rem;
        span{
            font-size: 0.3rem;
        }
    }
    h1{
        font-size: 0.32rem;
        // color: #606266;
        color: $color;
        text-align: center;
        margin-bottom: 0.2rem;
    }
}

.topHeader{
    border-bottom: 1px solid rgba(240,240,240,1);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 24;
    span{
        padding: 4%;
    }
    h2{
        font-size:0.36rem;
        font-family:PingFang SC;
        font-weight:500;
        color:rgba(51,51,51,1);
        line-height:21px;
    }
}
.marginTop90{
    margin-top:0.95rem
}
.KeyInput{
    width: 92%;
    margin: 0.2rem auto 0;
    input{
        // height: .72rem;
        line-height: 0.6rem;
        padding: 0 0 0 .3rem;
        box-sizing: border-box;
        width: 75%;
        color: #323233;
        border-radius: 0.05rem;
        border: 1px solid #fff;
    }
    button{
        border: none;
        outline: none;
        margin-left: 0.2rem;
        background: $color;
        padding: 0.12rem;
        border-radius: 0.08rem;
        color: #fff;
        height: inherit !important;
        line-height: inherit !important;
    }
}
@-webkit-keyframes mymove{
    from{opacity: 0;transform: scale3d(0.3, 0.3, 0.3);}
    to{opacity: 1;transform: scale3d(1, 1, 1);}
}
.myScale3d{
    animation: mymove 1s 1;
}
.maskContent{
    position: fixed;
    z-index: 25;
    width: 100%;
    left: 0px;
    top: 0px;
    right: 0;
    bottom: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    transition: all 0.3s;
}
.cancelBtn{
    border: 1px solid #dcdfe6 !important;
    border-radius: 0.08rem;
}
.confirmBtn{
    border-radius: 0.08rem;
}
.empty{
    text-align: center;
    color: #999999;
    font-size: 0.3rem;
}
iframe{
    border: none;
    width: 100%;
    height: 100%;
}
.header100vh{
    height: 100vh;
    overflow: hidden;
}
.displaynonde{
    display: none;
}
.centerMaskWindow{
    position: absolute;
    left: 50%;
    top: -50%;
    transform: translate(-50%, -30%);
    // font-weight: bold;
    width: 90%;
    background: #ffffff;
    transition: all 0.3s;
    z-index: 25;
    overflow: hidden;
    color: #606266;
    border-radius: 0.08rem;
    transition: all 0.3s;
}
.top30{
    top: 30% !important;
    transform: translate(-50%, -30%);
    transition: all 0.3s;
}
.top0{
    top: 0 !important;
    transition: all 0.3s;
}
.top50{
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
}
.maskHeight100vh{
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background: #ffffff;
    position: absolute;
    top: -100vh;
    transition: all 0.5s;
}
.hui-form-radios {
    display: flex !important;
    flex-wrap: wrap;
}
.hui-form-radios label{
    margin-right: 0.15rem !important;
    color: #606266;
    line-height: inherit !important;
}
.hui-form-items{
    align-items: center;
}
input:disabled{
    border-color: rgb(228, 231, 237);
    color: rgb(192, 196, 204);
    background-color: rgb(245, 247, 250);
}
.relative{
    position: relative;
}
.hides{
    display: none !important;
    transition: all 0.3s;
}
// 查询条件部分
.keyContent{
    width: 98%;
    margin: 0.25rem auto;
    background: #fff;
    border-radius: 0.1rem;
    .flex-center{
        display: flex;
        justify-content: center;
        flex-flow: column;
        align-items: center;
        padding: .4rem 0;
        .dowContent{
            display: none;
        }
        .dowImg{
            width: 0.4rem;
            //margin: 0.05rem auto 0;
            margin-bottom: 0.2rem;
            img{
                width: 100%;
                transition: all 0.3s;
            }
            .active{
                transform:rotate(-180deg);
                transition: all 0.3s;
            }
        }
        .keyConfirmBtn{
            width: 3.2rem;
            margin: 0.1 auto 0;
            border-radius: 0.44rem;
            text-align: center;
            background: #be954a;
            font-family: PingFang SC;
            font-weight: 500;
            color: white;
            padding: 0.12rem 0;
            margin-bottom: 0.6rem;
        }
        .time{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 0;
            span{
                font-size: 12px !important;
                display: inline-block;
                //width: 80px;
                text-align: right;
            }
            input{
                font-size: 0.24rem !important;
                height: 0.4rem;
                color: #555;
                background-color: #fff;
                background-image: none;
                margin-left: 10px;
                width: 180px;
                display: inline-block;
                border: 1px solid #ccc!important;
                border-radius: 4px;
                padding: 6px;
            }
            >div{
                font-size: 0.24rem !important;
                height: 0.4rem;
                color: #555;
                background-color: #fff;
                background-image: none;
                margin-left: 15px;
                width: 180px;
                display: inline-block;
                border: 1px solid #ccc!important;
                border-radius: 4px;
                padding: 6px;
                span{
                    font-size: 18px !important;
                    float: right;
                }
            }

        }
    }
}

*{
    margin: 0;
    padding: 0;
    font-size: 0.24rem;
    list-style:none
}
.flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flex1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexC{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header{
    width: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 22;
    text-align: center;
}
.footer{
    width: 100%;
    text-align: center;
    padding: 0.12rem 0;
}
.header h1{
    margin: 0.3rem 0 0.2rem;
    font-size:0.32rem ;
    color: #be954a;
}
.footer h1{
    height: 0.88rem;
    font-size: 0.32rem;
    line-height: 0.88rem;
    font-family: PingFang SC;
    font-weight: 500;
    width: 6.2rem;
    margin: 0 auto;
    background: #be954a;
    border-radius: 44px;
    color: #FFFFFF;
    box-shadow: 0px 2px 0.18rem 0px rgba(0, 0, 0, 0.1);
}
.determineCont{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
}
.prompt{
    position: fixed;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-60%);
    z-index: 99999;
    background: rgba(0, 0, 0, 0.85);
    color: #fff;
    padding: 0.12rem 0.2rem;
    border-radius: 0.25rem;
    display: none;
    text-align: center;
}
.hide{
    display: none !important;
}
.show{
    display: block !important;
}
.mask{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
    img{
        width: 90%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
