
.over-line1 .layui-table-view .layui-table {
    margin: 0 !important;
    height: 100vh !important;
}

.mailFlex{
    display: flex;
    justify-self: start;
    align-items: center;
    text-align: left;
    span:nth-child(1){
        flex-shrink: 0;

    }
}
.custom-warp{
    width: 100%;
}
.warp-margin{
    width: 100%;
    overflow: hidden;
}
.layui-form{
    border-left: none;
    border-right: none;
    width: 100%;
    /* overflow-x:auto ; */
}
