.boxHeader{
    width: 100%;
    /* padding: 20px 0; */
}
.key-contnet{
    margin-left: 15px;
}
.queryBtn,.refreshBtn{
    margin-left: 15px;
}
.BoxTableList{
    width: 100%;
    padding: 20px 0;
}
.modificationBox{
    width: 950px;
    position: relative;
    margin: 2vh auto 50px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    transition: all 0.3s;
    padding-bottom: 15px;
}
.marginAuto{
    margin:0 10%;
}
.marginAuto form{
    width: 100%;
}
.listFlex input{
    width: 80%;
}
.listFlex label{
    width: 120px;
    text-align: right;
    float: left;
    font-size: 14px;
    color: #606266;
    line-height: 40px;
    padding: 0 12px 0 0;
    box-sizing: border-box;
}
.marginAuto label span{
    color: red;
}
.editorCont{
    margin-top: 10px;
}
.editorCont label{
    color: #606266;
    line-height: 24px;
    display: inline-block;
    margin-left: 70px;
}
#addWangEditor{
    width: 90%;
    margin:  0 auto ;
}
.cancelBtn{
    background: #fff !important;
    border: 1px solid #dcdfe6 !important;
    color: rgb(96, 98, 102);
}
.cancelBtn:hover{
    color:#be954a;
    border: 1px solid #be954a !important;
}