@import '../common/common.scss';
.fancy-textbox-wrapper {
    display: inline-block;
    position: relative;
    margin: 10px 10px
}

.fancy-textbox-wrapper input.masked {}

label.label {
    position: absolute;
    display: inline-block;
    text-align: center;
    font-size: 0.28rem;
    font-weight: 700;
    background: rgba(190, 149, 74,0.8);
    color: #fff;
    border: 0;
    outline: 0;
    top: 0;
    left: 0;
    text-transform: uppercase;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -moz-transition: all linear .3s;
    -o-transition: all .3s ease-in-out;
    -webkit-text-shadow: 0 1px 0 rgba(19, 74, 70, .4);
    -moz-text-shadow: 0 1px 0 rgba(19, 74, 70, .4);
    -o-text-shadow: 0 1px 0 rgba(19, 74, 70, .4);
    text-shadow: 0 1px 0 rgba(19, 74, 70, .4)
}

.searchInput.searchInput input{
    position: relative;
    display: inline-block;
    height: 25px;
    max-width: 100%;
    width: 215px;
    padding: 10px 15px!important;
    border: 1px solid #e5e5e5;
    background: #fff;
    color: #666;
    border: 0;
    outline: 0;
    font-family: open sans,sans;
    font-weight: 400;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -o-transition: all linear .2s;
    transition: all linear .2s;
}
.searchCont{
    display: none;
    width: 100%;
    // background: url('../img/backgroud.jpg');
    background-size: cover;
    min-height: 100vh;
    overflow-y: auto;
    .searchbox{
        width: 90%;
        padding: 2em 1em 1em 1em;
        margin: 0 auto;
        text-align: center;
        h2{
            padding: 0.8em 0;
            font-size: 1.6em;
            color: #be954a;
            text-align: center;
            font-weight: 300;
        }
        .line{
            position: relative;
            span{
                position: absolute;
                top: 10%;
                left: 39%;
                height: 1px;
                width: 20%;
                background: #5b5c61;
            }
        }
        .icontion{
            padding: 1em 0;
            img{
                margin: 2em 0;
                width: 39%;
            }
        }
        .formCont{
            width: 82%;
            margin: 0 auto;
            padding: 0% 1%;
            >div{
                display: flex;
                justify-content: start;
                align-items: center;
                padding: 0.8em 0.8em 0.8em 0em;
                // background: rgba(71,74,85,1);
                border-radius: 0.5rem;
                margin: 1.4em 0;
                border: 2px solid #be954a;
                p{
                    width: 25%;
                }
                img{
                    width: 45%;
                }
                .codeImg{
                    height: 0.59rem;
                    width: 80%;
                }
                input{
                    width: 75%;
                    background: none;
                    border: 0;
                    outline: 0;
                    color: #be954a;
                    font-size: 16px;
                }
            }
            .btn{
                background:#be954a ;
                margin-top: 0.5rem;
                h4{
                    font-size: 20px;
                    font-weight: 300;
                    color: #fff;
                    cursor: pointer;
                    outline: none;
                    width: 50%;
                    margin: 0 auto;
                    // border: 3px solid #be954a;
                    background: #be954a;
                }
            }
        }
    }
}


.header{
    // border-bottom: 1px solid rgb(238,238,238);
    // background: rgb(15,11,8);
    img{  
     width: 0.5rem;
     margin: -5%;
     padding:5% 8%;
    }
    span{
        margin: -5%;
        padding:5% 8%;
    }
}
.orderListCont{
    width: 100%;
    padding-top: 0.4rem;
    // background: url('../img/backgroud.jpg');
    background-size: cover;
    min-height: 100vh;
    background: #EEEEEE;
    padding-bottom: 0.5rem;
    .orderNameList{
        width: 94%;
        // border-bottom: 0.15rem solid rgba(190, 149, 74,1);
        padding:0.2rem 0;
        overflow: hidden;
        margin-bottom: 0.3rem;
        margin: 0 auto 0.2rem;
        background: #fff;
        border-radius: 0.1rem;
        .orderList{
            width: 100%;
            // margin: 0 auto;
            padding: 0.1rem 0;
            h5{        
                font-size: 0.24rem;
                font-family: Source Han Sans CN;
                font-weight: bold;
                color: #be954a;
                span{
                    font-size: 0.26rem;
                    // color: #be954a;
                }
            }
            p{              
                font-size: 0.18rem;
                font-family: Source Han Sans CN;
                font-weight: 400;
                color: #be954a;
                span{
                    font-size: 0.2rem;
                    // color: #be954a;
                }
            }
            h2{       
                font-size: 0.36rem;
                font-family: Source Han Sans CN;
                font-weight: 400;
                color: #FF2222;
            }
        }
        .listHeader{
            margin-top: 0.26rem;
            width: 94%;
            margin: 0 auto;
            border-bottom: 1px solid #be954a;
            padding-bottom: .18rem;
            h3{      
                font-size: 0.28rem;
                font-family: Adobe Heiti Std;
                font-weight: normal;
                color: #be954a;
                font-weight: 600;
            }
           p{              
                font-size: 0.26rem;
                font-family: PingFang SC;
                font-weight: 500;
                color: #d1921c;
           }
        }
        .orderListS{
            width: 94%;
            margin: 0.15rem auto ;
        }
    }
    .orderFooter{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background: #fff;
        z-index: 999;
        h4{
            width:82%;
            margin:0.7rem auto 0.2rem;
            text-align: center;
            background: #be954a;   
            border-radius: 0.44rem;
            font-size: 0.32rem;
            font-family: PingFang SC;
            font-weight: 500;
            color: #FFFFFF;
            padding: 0.2rem 0;
        }
    }
}
.goodsCont{
    position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 9999;
    display: none;
    .goodsBox{
        width: 94%;
        margin: 1.2rem auto;
        background: #FFFFFF;
        padding: 0.15rem 0;
        border-radius: 0.2rem;
        height: 80%;
        .goodsHeader{
            position: relative;
            border-bottom: 1px solid rgb(238,238,238);
            img{
                position: absolute;
                width: 0.5rem;
                right: 0.15rem;
                top: 0.15rem;
            }
        }
        h1{
            line-height: 0.8rem;
            text-align: center;         
            font-size: 0.28rem;
            font-family: Source Han Sans CN;
            font-weight: 700;
            color: #333333;
        }
        .list{
            width: 96%;
            margin: 0.5rem auto ;
            background: #FFFFFF;
            box-shadow: 0px 0.02rem 0.18rem 0px rgba(0, 0, 0, 0.2);
            border-radius: 0.2rem;
            margin-bottom: 0.22rem;
        }
        .list .img{
            width: 1.66rem;
            height: 2rem;
            margin: 0.3rem 0 0.3rem 0.25rem;
        }
        .img img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 0.1rem;
        }
        .goodsInform{
            margin-left: 0.25rem;
            width: 60%;
        }
        .goodsInform>h5{
            margin-top: 0.1rem;
            font-size: 0.3rem;
            font-family: PingFang SC;
            font-weight: bold;
            color: #be954a;
            text-align: left;
        }
        .of{
            margin-top: 0.13rem;
        }
        .of p{
            font-size: 0.32rem;
            font-family: PingFang SC;
            font-weight: 500;
        }
        .of span{
            display: inline-block;
            width: 0.02rem;
            height: 0.41rem;
            background: #333;
            margin: 0 0.3rem;
        }
    }
}
.code{
    margin-top:0.25rem;
    textarea{
        width: 80% !important;
        height: 0.5rem;
        line-height: 0.5rem;
        margin-left: 0.3rem;
        resize:none;
        outline:none;
        border:1px solid rgba(190, 149, 74,0.5);
        border-radius: 0.05rem;
        color: #666;
        outline: 0;
        font-family: open sans,sans;
        font-weight: 400;
        padding: 0.05rem 0.15rem;
    }
}
.scroller li {
	height:60px;
	border-bottom: 1px solid #eee;
	background-color: #fff;
	font-size: 14px;
	
}

.game-info{ padding:15px 10px; background:#FFF; line-height:22px; color:#333; font-size:14px;}
.game-info p{color:#999; font-size:12px;}
.pullUp{
    display: none !important;
}