.ding-wrap{
    width: 100%;
}
h2{
    text-align: center;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.layui-row>div{
    margin-bottom: 15px;
}
.title{
    display: inline-block;
    width: 120px;
}
input{
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: none;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 100%;
}
img{
    width: 20px;
}
.lineHeight40{
    height: 60px;
    line-height: 60px;
    margin-bottom: 30px;
}
.lineHeight40>div{
    width: 150px;
    display: inline-block;
    margin-left: 5px;
}
.layui-tab-title{
    height: auto;
    box-sizing: border-box;
    border: 1px solid #409eff;
    border-bottom: 1px solid #e4e7ed;
}
#tab li{
    width: 25%;
    text-align: center;
    height: 50px;
    padding: 0;
    line-height: 50px;
    color: #409eff;
    font-size: 18px;
    border-left: 1px solid #409eff;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
}
#tab .layui-this{
     background-color: #409eff;
     color: #fff;
}
#tab .layui-this:after{
    width: 0;
    height: 0;
    opacity: 0;
}
.Height60{
    height: 60px;
    line-height: 60px;
}
